.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 2px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .errorMsg {
    font-size: 0.8rem;
    color: red;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
}
